body {
  text-align: center;
  display: flex;
  background-color: black;
}

h1 {
  color: mediumslateblue;
  font-family: "Poppins", sans-serif;
  text-align: center;
  width: 15px;
  text-decoration: palevioletred;
  text-shadow: 15px;
  padding: 8px 18px !important;
  margin: 8px 18px;
}

.container {
  width: 600px;
  background-color: black;
}
.overview {
  text-align: center;
  width: 500px;
  padding: 40, 30, 2;
}
